/*HEADER SECTION*/
.header-whole-section{
	height:120px;
	width:100vw;
	background-color:#232f3e;
	display: flex;
	flex-direction: column;
}

/*header top section*/
.header-top-section{
	width: 100vw;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header-amazon-logo{
	height: 50px;
	width: 100px;
	position: absolute;
	top: -2;
	left: 0;
	margin-left: 30px;
}

.header-input-box{
	width: 400px;
	height: 25px;
}

.header-search-img-container{
	width: 43px;
	height: 31px;
	background-color:#febd69;
	border-radius: 5px;
}


/*header bottom section*/
.header-bottom-section{
	width: 100vw;
	height: 60px;
	display: flex;
	flex-direction: row;
}

.header-bottom-block-one{
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #ffffff;
}

.header-bottom-block-two{
	width: 40vw;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	color: #c2c2c3;
}

.header-bottom-block-three{
	width: 40vw;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	color: #ffffff;
}

/*end of header section*/

.place-holder-for-slick-slider{
	width: 100vw;
	height: 300px;
	background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2017/EDITORIAL/NYNY/GATEWAY/HEROES/1X/NYNY_M_S_Athletic_1x._CB522952028_.jpg");
	background-repeat: no-repeat;
}

.personalized-area{
	width: 100vw;
	height: 70px;
	background-color: #232f3e;
}

.place-holder-for-slick-slider-two{
	width: 100vw;
	height: 250px;
	background-color: gray;
}

/*slider test*/


#test-1{
	width: 100vw;
	height: 300px;
}



/*TV AND FITNESS*/
.tv-fitness-container{
	width: 100vh;
	height: 200px;
	display: flex;
}

/*START OF FOOTER*/
.back-to-top-container{
	width: 100vw;
	height: 50px;
	background-color: #37475A;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-all-links-container{
	width: 100vw;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #232f3e;
}

.all-links-container-1{
 width: 260px;
 height: 260px;
 display: flex;
 align-items: center;
 flex-direction: column;
 color: white;
}

.country-options{
	width: 100vw;
	height: 150px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #232f3e;
	border-top:solid white;
}

.footer-amazon-logo{
 height: 100px;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
}

.footer-country-list{
	width: 100vw;
	height: 30px;
	display: flex;
	justify-content: center;
}
